<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->
<%- include('../partials/head',{title : 'Creacion de productos'}) %>


<body class="boby__view__creacion">


  <%- include('../partials/header') %>

    <main class="estaCreacion">
     
      <form method="POST" enctype="multipart/form-data">
        
          <h1 class="esteTitulo">CREA TU PRODUCTO</h1>
        <div class="div_1">
          <label for="name"> Nombre </label>
          <input  class="inputNombre" type="form_text" class="texto" name="name">
        </div>
<div class="div_a">
        <div class="div_2">
          <label for="category"> Categoría </label>
          <select class="inputCategoria" class="selector <%= locals.errors && errors.category ? 'is-invalid' : null%>" name="category" id="">
            <option value="" selected hidden>Seleccione...</option>
            <% categories.forEach(({name, id}) => { %>
              <option value="<%= id %>" <%= locals.old && old.category && old.category === name ? 'selected' : null %>><%= name %></option>
             <% }) %>
          </select>
          <label for="visible">Visibilidad</label>
          <select class="inputColor" class="selector <%= locals.errors && errors.category ? 'is-invalid' : null%>" name="visible" id="">
            <option value="" selected hidden>Seleccione...</option>
            <option value="1">Visible</option>
            <option value="0">No visible</option>
          </select>
          <small class="text-darger ms-2"><%= locals.errors && errors.category ? errors.category.msg : null  %></small>
        </div>
    </div>
    <div class="div_b">
<!--         <p class="esteStock">Indique el stock disponible:</p>
        <div class="inputStock" ><input type=" number" class="numero" >Unidades</div> -->
      <div class="div_4">
        <label for="price"> Precio </label>
        <input type="number" class="inputPrecio" name="price" >
       </div> 
       <div class="div_5">
        <label for="discount"> Descuento </label>
        <input type="number" class="inputDescuento" name="discount" >
      </div>
    </div>
      <div class="div_6">
        <label for="description"> Descripción </label>
        <textarea class="inputDescripcion" name="description" rows="5"></textarea>
      </div>
      <div class="div_7" >
        <label for="images"> Agrega 3 imágenes </label>
        <input class="inputimagen" type="file" name="images" multiple>
      </div>
      <div class="div_c">
      <div class="div_8">
          <button class="esteBoton1" type="reset">Cancelar</button>
        </div>  
          <div class="div_9">  
          <button class="esteBoton2" type="submit">Crear</button>
      </div>
    </div>    
      </form>
    </main>

    <%- include('../partials/footer') %>

    <%- include('../partials/scripts')  %>
</body>

</html>