<!DOCTYPE html>
<html lang="en">
  <!-- HEAD -->
<%- include('../partials/head',{title : 'Detalle de productos'}) %>
<body class="detail">
  <%- include('../partials/header') %> 

      <main class="detalle__main">

        <section class="detalle__section">
        <h3 class="detalle__title"><%= product.name %></h3>
       
 <!-- <div id="carouselExample"  class="carousel slide detalle__carousel"  data-ride="carousel">
            <ol class="carousel-indicators">
              <%# product.images.forEach((image,index) => { %>
              <li data-target="#carouselExampleIndicators" data-slide-to="<%#= index %>" class="<%#= index === 0 && "active" %>"></li>
              <%# }) %>
            </ol>
           
            <div class="carousel-inner">
              <%# product.images.forEach((image,index) => { %>
  
               <div class="carousel-item <%#= index === 0 && "active" %>">
                
                <div class="Home_div_imagenBox1">
                  <img class="Home_img_imagen" src='/Images/products/<%#=image.name%>'>
                </div>
                
              </div>

              <%# }) %>
            </div>
          <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExample" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div> -->

        <!-- Swiper -->

    <div class="swiper carousel">

      <div class="swiper-wrapper">

        <% product.images.forEach((image,index) => { %>

          <div class="swiper-slide card-carrousel <%= index === 0 ? 'active' : '' %>">

          <img src="/Images/products/<%=image.name%>" alt="" />
        </div>
        <% }) %>

      </div>
      <button type="button" class="swiper-button-next"></button>
      <button type="button" class="swiper-button-prev"></button>
      <div class="swiper-pagination"></div>
    </div>
                   

        <div class="detalle__info">
            <div>
            <span class="detalle__price">$<%=(product.price - (product.price* product.discount) / 100)%></span>
            </div>
            <span class="detalle__cuotas"><%= product.discount ? product.discount+' % OFF' : ""%></span>
        
        <div>
            <p><i class="fa-sharp fa-solid fa-truck-fast"></i> Llega gratis hoy</p>
          </div>
        </div>
        <div class="container-boton">
        <div class="container__buttons">
          <div class="box__button-editar">
            <a href="#"  onclick="addProductToCart('<%= product.id %>')"><button>Agregar al carrito</button> </a>
         </div>
        </div>
      </div>

      </section>

      <section class="detalle__section-description">
        <hr>
        <span>descripción</span>
        <p><%= product.description %></p>
        <hr>
      </section>

      <section class="detalle__main-productos">
        <div class="detalle__title-relacionados">
          <h4>productos relacionados</h4>
        </div>
        <div class="glider-contain">
          <div class="glider" id="TEST">
            <% relatedProducts.forEach(product => { %>
              <div id="detalle-items" class="card card-carrousel"> 
                <a href="/products/detalle/<%= product.id %>" title="<%= product.name %>">
                  <img src="/Images/products/<%= product.images[0].name %>" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                  <h5 class="card-title">$ <%= product.price %></h5>
                  <p class="card-text" title="<%= product.name %>"><%= product.name %></p>
                  <a href="/products/detalle/<%= product.id %>" class="btn btn-primary button-buy">Comprar</a>
                </div>
              </div>
            <% }) %>
          </div>
          <button aria-label="Previous" class="glider-prev">«</button>
          <div role="tablist" class="dots"></div>
        </div>
      </section>
      
      
      </main>

      <%- include('../partials/footer')  %> 
      
      <%- include('../partials/scripts')  %>

      <script>
        new Glider(document.querySelector('.glider'), {
  slidesToShow: 1.5,
  slidesToScroll: 1,
  draggable: true,
  dots: '.dots',
  arrows: {
    prev: '.glider-prev',
    next: '.glider-next'
  },
  responsive: [
    {
      // screens greater than >= 775px
      breakpoint: 768,
      settings: {
        // Set to `auto` and provide item width to adjust to viewport
        slidesToShow: 3,
        slidesToScroll: 'auto',
        itemWidth: 150,
        duration: 0.25
      }
    },{
      // screens greater than >= 1024px
      breakpoint: 1024,
      settings: {
        slidesToShow: 5,
        slidesToScroll: 1,
        itemWidth: 150,
        duration: 0.25
      }
    }
  ]
});

const cardsCarrousel =Array.from(document.querySelectorAll(".card-carrousel"))
console.log(cardsCarrousel)
const backgrounds = [
  "linear-gradient(-229deg, #fbd52d, #ef3a7c)",
  "linear-gradient(-229deg, #FF70AF, #5fa8f5)",
  "linear-gradient(-229deg, #0cebeb, #29ffc6)",
  "linear-gradient(-229deg, #88F7F9, #048FFF)",
  "linear-gradient(-229deg, #0093E9, #80D0C7)",
  "linear-gradient(-229deg, #cf91ff, #5782F5)",
  "linear-gradient(-229deg, #642B73, #C6426E)"
];
cardsCarrousel.forEach(card => {
  card.style.background = backgrounds[Math.floor(Math.random() * 7)]
})


</script>
<script>
document.addEventListener('DOMContentLoaded', function() {
  var mySwiper = new Swiper('.swiper.carousel', {
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    pagination: {
      el: '.swiper-pagination',
    },
    autoplay: {
      delay: 3000,
    },
  });
});

</script>
<script src="/javaScript/addProductToCart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    </body>
  </html>