<html lang="en">
  <%- include('./partials/head',{title : 'Dashboard'}) %>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://kit.fontawesome.com/3fab2a7658.js" crossorigin="anonymous"></script>
  <title>Dashboard Template for Bootstrap</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">

  <!-- Bootstrap core CSS -->
  <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="dashboard.css" rel="stylesheet">
  <style type="text/css">
    /* Chart.js */
    @-webkit-keyframes chartjs-render-animation {
      from {
        opacity: 0.99
      }

      to {
        opacity: 1
      }
    }

    @keyframes chartjs-render-animation {
      from {
        opacity: 0.99
      }

      to {
        opacity: 1
      }
    }

    .chartjs-render-monitor {
      -webkit-animation: chartjs-render-animation 0.001s;
      animation: chartjs-render-animation 0.001s;
    }
  </style>
</head>

<body>
  <nav style="flex-direction: row;" class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">TechMaster</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <div class="dropdown" id="dropdown">
          <button id="button" onclick="toggleDropdown()">
            <span class="fa-solid fa-user"></span>
            <% if (locals.userLogin) { %>
              Hola <%= locals.userLogin.name %>
                <% }else{%>
                  Ingresar
                  <% }%>
                    <span id="chevron" class="chevron fa-solid fa-chevron-down">
                    </span>
          </button>
          <div id="menu" class="menu">
            <% if (locals.userLogin) { %>
              <button onclick="window.location.href='/users/profile';" class="btn">
                <span class="fa-solid fa-lock" id="menu_icon"></span>
                Cuenta
              </button>
              <% if (locals.userLogin.rol===1 ) { %>
                <button onclick="window.location.href='/dashboard';" class="btn">
                  <span id="menu_icon" class="fa-solid fa-gauge">
                  </span>
                  Dashboard
                </button>
                <% } %>
                  <button onclick="window.location.href='#';" class="btn">
                    <span id="menu_icon" class="fa-solid fa-location-dot">
                    </span>
                    Cordoba
                  </button>
                  <button onclick="window.location.href='/carrito';" class="btn">
                    <span id="menu_icon" class="fa-solid fa-cart-shopping">
                    </span>
                    Carrito <!-- <a href="../carrito">Carrito</a> -->
                  </button>
                  <button onclick="window.location.href='/users/logout';" class="btn">
                    <span id="menu_icon" class="fa-solid fa-right-to-bracket"></span>
                    Cerrar Sesión
                  </button>
                  <% } else { %>
                    <button onclick="window.location.href='/users/login';" class="btn">
                      <span id="menu_icon" class="fa-solid fa-right-to-bracket"></span>
                      Ingresar
                    </button>
                    <button onclick="window.location.href='/users/register';" class="btn">
                      <span id="menu_icon" class="fa-solid fa-user-plus"></span>
                      Registrarse
                    </button>
                    <% } %>
          </div>
        </div>
        <script>
          const button = document.getElementById("button");
          const buttonRect = button.getBoundingClientRect();
          const chevron = document.getElementById("chevron");
          const chevronRect = chevron.getBoundingClientRect();
          const menuRight = buttonRect.right - chevronRect.right;
          const menutop = chevronRect.top - buttonRect.top;

          const menu = document.getElementById("menu");
          menu.style.top = `${menutop}px`;
          menu.style.right = `${menuRight}px`;

          const toggleDropdown = () => {
            const dropdown = document.getElementById("dropdown");
            if (dropdown.classList.contains("open")) {
              menu.style.top = `${menutop}px`;
              menu.style.right = `${menuRight}px`;
            } else {
              menu.style.top = `${button.clientHeight + 10}px`;
              menu.style.right = 0;
            }

            dropdown.classList.toggle("open")
          };
        </script>
      </li>
    </ul>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#products">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-shopping-cart">
                  <circle cx="9" cy="21" r="1"></circle>
                  <circle cx="20" cy="21" r="1"></circle>
                  <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                </svg>
                Products
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#users">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-users">
                  <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                  <circle cx="9" cy="7" r="4"></circle>
                  <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                  <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                </svg>
                Users
              </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#comments">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                  Comments
                </a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="#Api">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-layers">
                  <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
                  <polyline points="2 17 12 22 22 17"></polyline>
                  <polyline points="2 12 12 17 22 12"></polyline>
                </svg>
                Api documentation
              </a>
            </li>
          </ul>

        <!--   <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Saved reports</span>
            <a class="d-flex align-items-center text-muted" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
            </a>
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                Current month
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                Last quarter
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                Social engagement
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                Year-end sale
              </a>
            </li> 
 -->

          </ul>
        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class="chartjs-size-monitor"
          style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
          <div class="chartjs-size-monitor-expand"
            style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
          </div>
          <div class="chartjs-size-monitor-shrink"
            style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
          </div>
        </div>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
          <h1 class="h2">Dashboard</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
              
              <button  onclick="window.location.href='products/creacion'" class="btn btn-sm btn-outline-secondary">
                  <p>Add item</p>
              </button>
            </div>
            
          </div>
        </div>

        <h2 id="products">Productos</h2>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>

                <th>Id</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Descuento</th>
                <th>Categoria</th>
                <th>Info</th>
                <th>Edit</th>
                <th>Del</th>
              </tr>
            </thead>
            <tbody>
              <% products.forEach(({id,name,images,description,discount,price,color,category})=> { %>

                <tr>
                  <td>
                    <%= id %>
                  </td>
                  <td>
                    <%= name %>
                  </td>
                  <td>
                    <%= price %>
                  </td>
                  <td>
                    <%= discount %>
                  </td>
                  <td>
                    <%= category.name %>
                  </td>
                  <td><a href="/products/detalle/<%= id %>"><i class="fa-solid fa-circle-info"></i></a></td>
                  <td><a href="/products/edicion/<%= id %>"><i class="fa-solid fa-pencil"></i></a></td>
                  <td>
                    <form id="deleteForm" style="margin:0;" action="/products/remove/<%= id %>?_method=DELETE" method="post">
                      <button  style="border: none;" type="submit"><i style="color:red" class="fa-solid fa-trash-can"></i></button>
                    </form>
                  </td>
                </tr>
                <% }) %>
            </tbody>
          </table>
        </div>

        <h2 id="users">Users</h2>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>

                <th>Id</th>
                <th>Nombre</th>
                <th>Mail</th>
                <th>Ubication</th>
                <th>Info</th>
                <th>Edit</th>
                <th>Del</th>
              </tr>
            </thead>
            <tbody>
              <% users.forEach(({id,name,email,location})=> { %>

                <tr>
                  <td>
                    <%= id %>
                  </td>
                  <td>
                    <%= name %>
                  </td>
                  <td>
                    <%= email %>
                  </td>
                  <td>
                    <%= location %>
                  </td>
                  <td><a href=""><i class="fa-solid fa-circle-info"></i></a></td>
                  <td><a href=""><i class="fa-solid fa-pencil"></i></a></td>
                  <td>
                    <!-- <form style="margin:0;" action="/products/remove/<%= id %>?_method=DELETE" method="post">
                      <button style="border: none;" type="submit"><i style="color:red" class="fa-solid fa-trash-can"></i></button>
                    </form> -->
                  </td>
                </tr>
                <% }) %>
            </tbody>
          </table>
        </div>

        <h2 id="comments">Comments</h2>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                
                <th>id</th>
                <th>name</th>
                <th>content</th>
                <th>Info</th>
                <th>Edit</th>
                <th>Del</th>
              </tr>
            </thead>
            <tbody>
              <% comments.forEach(({id,name,content})=> { %>

                <tr>
                  <td>
                    <%= id %>
                  </td>
                  <td>
                    <%= name %>
                  </td>
                  <td>
                    <%= content %>
                  </td>
                  <td><a href=""><i class="fa-solid fa-circle-info"></i></a></td>
                  <td><a href=""><i class="fa-solid fa-pencil"></i></a></td>
                  <td>
                   <!--  <form style="margin:0;" action="/products/remove/<%= id %>?_method=DELETE" method="post">
                      <button style="border: none;" type="submit"><i style="color:red" class="fa-solid fa-trash-can"></i></button>
                    </form> -->
                  </td>
                </tr>
                <% }) %>
            </tbody>
          </table>
        </div>

<h2 id="Api">Api documentation</h2>
<div class="table-responsive">
  <table>
    <thead>
      <tr>
        <th>HTML</th>
        <th>Endpoint</th>
        <th>Explicación</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>GET</td>
        <td>/api/products/</td>
        <td>Obtiene todos los productos.</td>
      </tr>
      <tr>
        <td>GET</td>
        <td>/api/products/paginate</td>
        <td>Obtiene una lista paginada de 6 productos ordenados.</td>
      </tr>
      <tr>
        <td>GET</td>
        <td>/api/products/:id</td>
        <td>Obtiene un producto específico buscado por ID. Retorna un objeto con la información del producto.</td>
      </tr>
      <tr>
        <td>POST</td>
        <td>/api/products/create</td>
        <td>Crea un nuevo producto en la base de datos.</td>
      </tr>
      <tr>
        <td>PUT</td>
        <td>/api/products/update/:id</td>
        <td>Actualiza la información de un producto específico.</td>
      </tr>
      <tr>
        <td>DELETE</td>
        <td>/api/products/:id</td>
        <td>Elimina un producto específico.</td>
      </tr>
      <tr>
        <td>GET</td>
        <td>/api/cart/getOrderPending</td>
        <td>Obtiene la orden de compra del usuario logueado.</td>
      </tr>
      <tr>
        <td>POST</td>
        <td>/api/cart/addProduct</td>
        <td>Agrega un producto a la orden de compra.</td>
      </tr>
      <tr>
        <td>DELETE</td>
        <td>/api/cart/removeProduct</td>
        <td>Elimina un producto de la orden de compra.</td>
      </tr>
      <tr>
        <td>PUT</td>
        <td>/api/cart/moreQuantity</td>
        <td>Agrega una unidad de un producto a la orden de compra.</td>
      </tr>
      <tr>
        <td>PUT</td>
        <td>/api/cart/lessQuantity</td>
        <td>Elimina una unidad de un producto de la orden de compra.</td>
      </tr>
      <tr>
        <td>DELETE</td>
        <td>/api/cart/clearCart</td>
        <td>Elimina todos los productos de la orden de compra.</td>
      </tr>
      <tr>
        <td>PUT</td>
        <td>/api/cart/statusOrder</td>
        <td>Verifica el estado de una orden de compra.</td>
      </tr>
      <tr>
        <td>GET</td>
        <td>/api/comments/</td>
        <td>Obtiene todos los comentarios.</td>
      </tr>
      <tr>
        <td>GET</td>
        <td>/api/comments/:id</td>
        <td>Obtiene un comentario específico.</td>
      </tr>
      <tr>
        <td>POST</td>
        <td>/api/comments/</td>
        <td>Crea un comentario.</td>
      </tr>
      <tr>
        <td>PUT</td>
        <td>/api/comments/:id</td>
        <td>Edita un comentario específico.</td>
      </tr>
      <tr>
        <td>DELETE</td>
        <td>/api/comments/:id</td>
        <td>Elimina un comentario específico.</td>
      </tr>
    </tbody>
  </table>
</div>

          




      </main>
    </div>
  </div>


  <script>
    function showDeleteConfirmation(event) {
      event.preventDefault();

      Swal.fire({
        title: 'Esta seguro?',
        text: "No podra devertir cambios!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
      }).then((result) => {
        if (result.isConfirmed) {
          document.getElementById('deleteForm').submit();
        }
      });
    }
  </script>
</body>
</html>


  <iframe id="nr-ext-rsicon"
    style="position: absolute; display: none; width: 50px; height: 50px; z-index: 2147483647; border-style: none; background: transparent;"></iframe>
</body>

</html>