<!DOCTYPE html>
<html lang="en">
  <!-- HEAD -->
<%- include('./partials/head',{title : 'Resultado de productos'}) %>
<body class="boby__view__resultados">
  
  

  
  <%- include('./partials/header') %> 

  <div class="div-main-resultados-capa">
  <main class="mainResultados">
    <% if (resultSearch.length === 0) { %>
      <h1>Lo sentimos, no hubo resultados para: <%= keywords %>
    <% }else{ %>
    <h1>Resultados de la búsqueda: <%= keywords  %></h1>
    <section>
      <% resultSearch.forEach(({id,name,images,description,discount,price,color,category}) => { 
        const priceWithDiscount = discount
        ? price - (price * discount) / 100
        : price;
      const priceFormatARG = priceWithDiscount.toLocaleString("es-AR", {
        style: "currency",
        currency: "ARS",
      });
      
      %>
       <article class="articleResultados">
        <span>
          <img src="/Images/products/<%= images.length ? images[0].name : 'default-image.png' %>"></img>
        </span>
        <div>
            <h3><%= name %></h3>
          <div class="precioYOferta">
            
            <h4><%= discount ? discount+' % OFF' : ""%></h4>
            <h2><%=priceFormatARG%></h2>
          </div>
          <div>
            <a href="/products/detalle/<%= id %>"><button>Detalles</button></a>
            <a href="#" onclick="addProductToCart('<%= id %>')"><button>Adquirir</button></a>
          </div>
        </div>
      </article>
      <% }) %>
      <% } %>
</main></div>
      
    

  <%- include('./partials/footer')  %> 
  <script src="/javaScript/addProductToCart.js"></script>
</body>

</html>