<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <script src="https://kit.fontawesome.com/3fab2a7658.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/Stylesheets/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>TechMaster Perfil de usuario</title>
</head>

<body class="body-profile" id="profile-page">

  <%- include('../partials/header') %>


    <main class="main-profile">

      <a class="main__p-regresar" href="/"><i class="fa-solid fa-arrow-left"></i> Regresar</a>


      <div class="profile_boxRow">
        <img class="profile_picture" src="<%= /http/.test(user.avatar) ? user.avatar : ` /Images/users/${user.avatar || 'default-user.png'}` %>" alt="">
        <h1 class="profile_greatings">Hola <%= user.name %> <%=user.surname %></h1>
        <p><%=user.email%></p>

      </div>
      <form class="profile_form" action="/users/profile?_method=PUT&removeImageBefore=1" method="POST" enctype="multipart/form-data">
        <div class="profile_box">
          <span class="profile_titulo">Datos personales</span>

          <p>Nombre:   <input name="name" type="text" value="<%=user.name%>"></p>
          <p>Apellido:   <input name="surname" type="text" value="<%=user.surname%>"></p>
          <span class="profile_titulo">ubicacion</span>

          <!-- <small class="profile_subtitulo">Ubicacion</small> -->
          <p>Direccion:   <input name="address" type="text" value="<%=location.address%>"></p>
          <p>Ciudad:   <input name="city" type="text" value="<%=location.city%>"></p>
          <p>Provincia:   <input name="province" type="text" value="<%=location.province%>"></p>
          <p>Codigo Postal:   <input id="input-cod-postal" name="zipCode" type="text" value="<%=location.zipCode%>"></p>
          <!-- <small class="profile_subtitulo">Avatar</small> -->
          <p><label for="avata">Avatar:   </label><input name="avatar" type="file"></p>
          
          
          <div class="profile_buttonBox" >
            <button class="btn btn-outline-light" type="reset"> Resetear </button>
            <button class="btn btn-light" type="submit"> Guardar </button>
          </div>
          </div>
      </form>


      <!-- <a class="profile_boxRow" href="/carrito">
        <i class="fa-solid fa-cart-shopping"></i>
        <div class="profile_carritoDatabox">
          <p>Mi Carrito</p>
          <small>Consulta tu orden en proceso</small>
        </div>
      </a>
      <a class="profile_boxRow" href="/carrito">
        <i class="fa-regular fa-file-lines"></i>
        <div class="profile_carritoDatabox">
          <p>Mis compras</p>
          <small>Consulta el recivo de tus compras concretadas</small>
        </div>
      </a> -->
      </main>

      <%- include('../partials/footer')  %> 
      <%- include('../partials/scripts')  %>
    </body>