<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <script src="https://kit.fontawesome.com/3fab2a7658.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/Stylesheets/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>TechMaster Perfil de usuario</title>
</head>

<body class="body-profile" id="profile-page">

  <%- include('../partials/header') %>


    <main class="main-profile">

      <a class="main__p-regresar" href="/"><i class="fa-solid fa-arrow-left"></i> Regresar</a>

      
      <div class="profile_boxRow">
        <div style="display: flex; flex-direction: column; align-items: center">
          <span class="profile_titulo">Tu perfil</span>
        <img class="profile_picture"
          src="<%= /http/.test(user.avatar) ? user.avatar : ` /Images/users/${user.avatar || 'default-user.png'}` %>"
          alt="">
        </div>
      <div>
        <h1 class="profile_greatings">Hola <%= user.name %>
            <%=user.surname %>
        </h1>
        <span class="profile_titulo">
          <%=user.email%>
        </span>
      </div>
      </div>
      <form class="profile_form" action="/users/profile?_method=PUT&removeImageBefore=1" method="POST"
        enctype="multipart/form-data">
        <div class="profile_box">

          <span class="profile_titulo">Tus datos personales</span>

          <p>Nombre: <input name="name" type="text" value="<%=user.name%>"></p>
          <p>Apellido: <input name="surname" type="text" value="<%=user.surname%>"></p>
          <span class="profile_titulo">Tu bicacion</span>
          <p>Direccion: <input name="address" type="text" value="<%=location.address%>"></p>
          <p>Ciudad: <input name="city" type="text" value="<%=location.city%>"></p>
          <p>Provincia: <input name="province" type="text" value="<%=location.province%>"></p>
          <p>Codigo Postal: <input name="zipCode" type="text" value="<%=location.zipCode%>"></p>
          <span class="profile_titulo">Modifica tu vatar</span>
          <p><label for="avata">Cambia tu avatar: </label><input name="avatar" type="file"></p>


          <div class="profile_buttonBox">
            <div>
              <small class="profile_subtitulo">ingresa tu contraseña para modificar tu perfil</small>
              <p><label for="password">Contraseña: </label><input name="password" type="password"></p>
            </div>
            <button class="profile_button" type="reset"> Resetear </button>
            <button class="profile_button" type="submit"> Guardar </button>
          </div>
        </div>
      </form>


      <!-- <a class="profile_boxRow" href="/carrito">
        <i class="fa-solid fa-cart-shopping"></i>
        <div class="profile_carritoDatabox">
          <p>Mi Carrito</p>
          <small>Consulta tu orden en proceso</small>
        </div>
      </a>
      <a class="profile_boxRow" href="/carrito">
        <i class="fa-regular fa-file-lines"></i>
        <div class="profile_carritoDatabox">
          <p>Mis compras</p>
          <small>Consulta el recivo de tus compras concretadas</small>
        </div>
      </a> -->
    </main>
    <%- include('../partials/footer') %>